html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.above-fold-wrap {
  padding:35px 15px 0px 15px!important;
  background:linear-gradient(0deg,rgba(255,255,255,0.6),rgba(255,255,255,1)),url('/images/restaurant.jpg');
  background-size: cover;
  position: relative;
  z-index: 995;

  .btn, .btn:hover, .btn:focus {
    margin-bottom:3px!important;
    margin-top:9px!important;
    padding:10px 20px;
    font-size: 18px;
    border-bottom:none!important;
    -webkit-box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  }
}

.mobile-only, .tablet-only {
  display:none;
}

.intro {
  h1 {
    margin-bottom:18px;
    font-weight:bold;
    font-size: 30px;
    line-height: 27px;
  }

  h2 {
    font-size: 24px;
    margin-bottom:24px;

    a {
      color: #eb4b3b;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  p {
    font-size:21px;
    margin:0px;
    display:inline;
  }

}

.intro-icons {
  margin-bottom: 24px;

  img {
    height:64px;
  }
}

.menu-sep {
  width:1px;
  height:40px;
  background-color: #c32c1d;
  position: relative;
  top: 15px;
}

.features {

  padding:0px 60px;

  h4 {
    font-size:21px;
    color:#eb4b3b;
  }

  .feature {
    padding:45px 20px 0px 20px;

    p {
      font-size:18px;
      color:#323232;
    }

    img {
      height:64px;
    }

  }

}

.features-wrap {
  padding-bottom:45px;
  background: white;
  position: relative;
  z-index: 333;
  width:100%;

  h2 {
    font-weight: bold;
    font-size: 30px;
    margin-top:45px;
  }
}

.payment-plans-header {
  padding: 24px;
  -webkit-box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
  background-color: white;
  border-radius:4px;
  border-top: 1px solid #f2f2f2;

  h1 {
    font-size: 30px;
    text-align:center;
    margin-bottom:6px;
    font-weight:bold;

    span {
      color:#323232;
      font-size:18px;
    }
  }

  p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 21px;
    padding-bottom: 21px;
    border-bottom: 1px solid #d2d2d2;
  }

  .form-group {
    padding:0px 15px;
  }
}

.get-started-header {

  p {
    margin-bottom: 27px;
  }
}

.payment-plans {
  padding-bottom:30px;
  border-bottom:1px solid #d2d2d2;

  .btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }
}

.register-button {
  margin-bottom:6px;

  .btn {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 18px;
  }
}

.pricing-option {
  padding:18px 0px 15px 0px;
  margin-bottom:15px;
  cursor:pointer;
  border-bottom:1px solid #d2d2d2;

  h2 {
    font-size:24px;
    color: #eb4b3b;
  }

  h3 {
    font-size:24px;
  }

  p {
    margin:0px;
    padding:0px;
    margin-top:5px;
  }
}

.payment-plans .active {
  border:1px solid #d2d2d2;
  border-top:3px solid #eb4b3b;
  border-bottom:none;
}

.stripe-image {
  width: 100%;
  max-width:300px;
  padding-top:24px;
}

.profile {
  padding-top: 15px;

  h1 {
    margin-bottom:15px;
    font-size:30px;
  }

  .avatar img {
    width:150px;
    margin-bottom:15px;
  }

  .profile-links {
    margin-top:15px;

    i {
      font-size:21px;
      margin-right:10px;
    }

    a:hover {
      color:#323232;
    }
  }
}

.iphone {
  height:350px;

  img {
    width: 160%;
    max-width:500px;
    position: absolute;
    top: -30px;
    left: -90px;
  }
}

.galaxy {
  height:350px;

  img {
    width: 160%;
    max-width:500px;
    position: absolute;
    top: -30px;
    right: -85px;
  }
}

.home-banner {

  img {
    width:1200px;
    // margin-bottom:-175px;
  }
}

.pricing-wrap {
  padding:45px 60px;
  border-top:1px solid #dadada;
  border-bottom:1px solid #dadada;
  color: #323232;

  h2 {
    font-weight:bold;
    font-size:30px;
    color:#000;
    text-align: center;
    margin-bottom: 30px;
  }

  p span {
    font-size:36px;
  }

  p small {
    font-size: 18px;
  }
}

.pricing-section {
  margin-bottom:30px;
  text-align: center;

  p {
    font-size:18px;
  }
}

.pricing-text {
  font-size:18px;
  text-align: center;
  margin-bottom:15px;
}

.pricing-header {
  font-size:30px;
  font-weight:bold;
  text-align: center;
}

.pricing-button-wrap {
  padding:0px;
  background:none;
  text-align:center;
  margin-bottom:5px;
  position: relative;
  z-index: 97;
}

.pricing-box {
  position: relative;
  z-index: 99;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  outline: 0;
}

.pricing-modal a {
  color:#eb4b3b;
}

.feature a:hover, .feature a:focus {
  text-decoration: none;
  outline:0;
}

.pricing-modal a:hover {
  text-decoration: underline;
  outline:0;
}

.your-designer-wrap {
  background-color: #eb4b3b;
  padding:45px 60px;
  color: white;

  p {
    font-size: 18px;
    max-width: 700px;
    margin:0 auto;
    margin-bottom:21px;
  }
}

.avatar-home img {
  width:175px;
  height:175px;
  margin-top:15px;
  margin-bottom:21px;
}

.avatar-home .fa {
  color:white;
  font-size: 30px;
  margin:0px 15px;
}
